<div class="container overflow-hidden text-center mt-4">
  <div class="row gx-5">
    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-onInit']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">onInit</div>
    </div>

    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-onDestroy']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">onDestroy</div>
    </div>

    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-onChanges']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">onChanges</div>
    </div>

    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-doCheck']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">doCheck</div>
    </div>

    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-afterContent']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">afterContent</div>
    </div>

    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks/ng-afterView']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="row p-4 border bg-light">afterView</div>
    </div>
  </div>
</div>
