<div class="container overflow-hidden text-center mt-5">
  <div class="row gx-5">
    <div
      class="col"
      [routerLink]="['/app/forms/html-bootstrap']"
      routerLinkActive="router-link-active"
      style="cursor: pointer"
    >
      <div class="row p-5 border bg-light">Html & Bootstrap</div>
    </div>
    <div
      class="col"
      [routerLink]="['/app/forms/template-driven']"
      routerLinkActive="router-link-active"
      style="cursor: pointer"
    >
      <div class="row p-5 border bg-light">Template Driven Approach</div>
    </div>
    <div
      class="col"
      [routerLink]="['/app/forms/model-driven']"
      routerLinkActive="router-link-active"
      style="cursor: pointer"
    >
      <div class="row p-5 border bg-light">Model Driven Approach (Reactive Form)</div>
    </div>
  </div>
</div>
