<div class="container overflow-hidden text-center mt-5">
  <div class="row gx-4">
    <div
      class="col"
      [routerLink]="['/app/forms']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="p-5 border bg-light">Angular Forms</div>
    </div>
    <div
      class="col"
      [routerLink]="['/app/decorators']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="p-5 border bg-light">Angular Decorator</div>
    </div>
    <div
      class="col"
      [routerLink]="['/app/life-cycle-hooks']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="p-5 border bg-light">Angular Life Cycle Hooks</div>
    </div>
    <div
      class="col"
      [routerLink]="['/app/pipes']"
      routerLinkActive="router-link-active"
      style="cursor: pointer;"
    >
      <div class="p-5 border bg-light">Angular Pipes</div>
    </div>
  </div>
</div>
